@model KursProject.Models.Prepod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prepod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kafedri.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kafedri.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dolznost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dolznost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vozrast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozrast)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrepodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
