@model IEnumerable<KursProject.Models.Prepod>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kafedri.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dolznost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vozrast)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kafedri.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dolznost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vozrast)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrepodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrepodID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrepodID })
        </td>
    </tr>
}

</table>
